In [518]:
import pandas as pd
import sqlite3 as sq
from geopy.distance import geodesic as GD
from geopy import Point
import numpy as np
import datetime

In [519]:
# def calculate_distanse(event_location,location):
#     """
#     Функция для получения кортежа вида (Широта,Долгота)
#     """
#     if None not in location:
#         return GD(event_location,location).m

def calculate_distanse(row):
    """
    Функция для получения кортежа вида (Широта,Долгота)
    """

         
    if None not in row['location']:
        return GD(row['event_location'],row['location']).m
    else:
        return None

In [520]:
#подключаемся к базе данных
con = sq.connect('copp.db')

# Считываем данные
df = pd.read_sql("SELECT * FROM participants",con,parse_dates={'time_mark':{'errors':'coerce'}})

In [521]:
df['event_location_latitude'] = 51.843254
df['event_location_longitude'] = 107.587542
df['event_location'] = list(zip(df['event_location_latitude'],df['event_location_longitude']))

In [522]:
df['location'] = list(zip(df['latitude'],df['longitude']))

In [523]:
df['threshold_distance'] = 10000

In [524]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,event_location_latitude,event_location_longitude,event_location,location,threshold_distance
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.843254,107.587542,2022-07-11 15:35:05,51.843254,107.587542,"(51.843254, 107.587542)","(51.843254, 107.587542)",10000
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000

In [525]:
df['distance'] = df.apply(calculate_distanse,axis=1)

In [526]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9.357116e+03
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.843254,107.587542,2022-07-11 15:35:05,51.843254,107.587542,"(51.843254, 107.587542)","(51.843254, 107.587542)",10000,0.000000e+00
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1.605565e+06
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1.208562e+03
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN

In [527]:
df['distance'] = df['distance'].apply(np.floor)

In [528]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9357.0
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.843254,107.587542,2022-07-11 15:35:05,51.843254,107.587542,"(51.843254, 107.587542)","(51.843254, 107.587542)",10000,0.0
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1605565.0
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1208.0
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN

In [529]:
begin_date = '10.07.2022 14.35.00'
end_date = '11.07.2022 16.36.00'

In [530]:
time_begin_event = datetime.datetime.strptime(begin_date,"%d.%m.%Y %H.%M.%S")
time_end_event = datetime.datetime.strptime(end_date,"%d.%m.%Y %H.%M.%S")
time_begin_event

datetime.datetime(2022, 7, 10, 14, 35)

In [531]:
time_end_event

datetime.datetime(2022, 7, 11, 16, 36)

In [532]:
df['time_result'] = df['time_mark'].apply(lambda x:time_begin_event<= x <= time_end_event)

In [533]:
df['distance_result'] = df['distance'] <= df['threshold_distance']

In [534]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance,time_result,distance_result
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9357.0,False,True
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.843254,107.587542,2022-07-11 15:35:05,51.843254,107.587542,"(51.843254, 107.587542)","(51.843254, 107.587542)",10000,0.0,True,True
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1605565.0,True,False
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1208.0,True,True
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False

In [535]:
df['confrim'] = (df['time_result'] == True) == (df['distance_result'] == True)

In [536]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance,time_result,distance_result,confrim
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9357.0,False,True,False
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.843254,107.587542,2022-07-11 15:35:05,51.843254,107.587542,"(51.843254, 107.587542)","(51.843254, 107.587542)",10000,0.0,True,True,True
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1605565.0,True,False,False
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False,True
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1208.0,True,True,True
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False,True

In [537]:
df.to_excel('test.xlsx',index=False)