In [111]:
import pandas as pd
import sqlite3 as sq
from geopy.distance import geodesic as GD
from geopy import Point
import numpy as np

In [112]:
def calculate_distanse(location):
    """
    Функция для получения кортежа вида (Широта,Долгота)
    """
    if None not in location:
        return GD(event_location,location).m

In [113]:
#подключаемся к базе данных
con = sq.connect('copp.db')

# Считываем данные
df = pd.read_sql("SELECT * FROM participants",con,parse_dates={'time_mark':{'errors':'coerce'}})

In [114]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark
0,1,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.843261,107.588292,2022-07-08 15:19:29
1,2,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.841161,107.585682,2022-07-08 15:45:51
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,None,None,NaT
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,56.46577,84.96542,2022-07-08 15:43:46
4,5,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,None,None,NaT
5,6,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,None,None,NaT

In [115]:
event_location = (51.841161,107.585682)
my_location = (51.843261,107.588292)

In [116]:
GD(event_location,my_location).m

294.8749511411581

In [117]:
df['location'] = list(zip(df['latitude'],df['longitude']))

In [118]:
df['distance'] = df['location'].apply(calculate_distanse)

In [119]:
df['distance'] = df['distance'].apply(np.floor)

In [120]:
df.to_excel('test.xlsx',index=False)