In [90]:
import pandas as pd
import sqlite3 as sq
from geopy.distance import geodesic as GD
from geopy import Point
import numpy as np
import datetime

In [91]:
def calculate_distanse(row):
    """
    Функция для получения кортежа вида (Широта,Долгота)
    """
         
    if None not in row['location']:
        return GD(row['event_location'],row['location']).m
    else:
        return None

In [92]:
#подключаемся к базе данных
con = sq.connect('copp.db')

# Считываем данные
df = pd.read_sql("SELECT * FROM participants",con,parse_dates={'time_mark':{'errors':'coerce'}})

In [93]:
begin_date = '10.07.2022 14.35.00'
end_date = '11.07.2022 16.36.00'

time_begin_event = datetime.datetime.strptime(begin_date,"%d.%m.%Y %H.%M.%S")
time_end_event = datetime.datetime.strptime(end_date,"%d.%m.%Y %H.%M.%S")

In [94]:
df['time_begin_event'] = time_begin_event
df['time_end_event'] = time_end_event

In [95]:
df['event_location_latitude'] = 51.843254
df['event_location_longitude'] = 107.587542
df['event_location'] = list(zip(df['event_location_latitude'],df['event_location_longitude']))

In [96]:
df['location'] = list(zip(df['latitude'],df['longitude']))

In [97]:
df['threshold_distance'] = 10000

In [98]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,time_begin_event,time_end_event,event_location_latitude,event_location_longitude,event_location,location,threshold_distance
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.790654,107.702576,2022-07-13 07:22:12,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.790654, 107.702576)",10000
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000

In [99]:
df['distance'] = df.apply(calculate_distanse,axis=1)

In [100]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,time_begin_event,time_end_event,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9.357116e+03
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.790654,107.702576,2022-07-13 07:22:12,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.790654, 107.702576)",10000,9.857782e+03
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1.605565e+06
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1.208562e+03
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN

In [101]:
df['distance'] = df['distance'].apply(np.floor)

In [102]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,time_begin_event,time_end_event,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9357.0
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.790654,107.702576,2022-07-13 07:22:12,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.790654, 107.702576)",10000,9857.0
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1605565.0
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1208.0
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN

In [103]:
df['time_result'] = df['time_mark'].apply(lambda x:time_begin_event<= x <= time_end_event)

In [104]:
df['distance_result'] = df['distance'] <= df['threshold_distance']

In [105]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,time_begin_event,time_end_event,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance,time_result,distance_result
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9357.0,False,True
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.790654,107.702576,2022-07-13 07:22:12,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.790654, 107.702576)",10000,9857.0,False,True
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1605565.0,True,False
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1208.0,True,True
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False

In [106]:
df['confrim'] = (df['time_result'] == True) & (df['distance_result'] == True)

In [107]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,time_begin_event,time_end_event,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance,time_result,distance_result,confrim
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9357.0,False,True,False
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.790654,107.702576,2022-07-13 07:22:12,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.790654, 107.702576)",10000,9857.0,False,True,False
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1605565.0,True,False,False
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False,False
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1208.0,True,True,True
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,False,False,False

In [108]:
# Меняем булевы значения в датафрейме
df.replace({True:'Подтверждено',False:'Не подтверждено'},inplace=True)

In [109]:
df

,app_id,name_event,id_participant,phone,first_name,last_name,latitude,longitude,time_mark,time_begin_event,time_end_event,event_location_latitude,event_location_longitude,event_location,location,threshold_distance,distance,time_result,distance_result,confrim
0,1,Разработка проектов в условиях ограниченных ре...,751314556,79503814183,Oleg,Budaev,51.791648,107.694685,2022-07-11 19:14:43,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.791648, 107.694685)",10000,9357.0,Не подтверждено,Подтверждено,Не подтверждено
1,2,Ярмарка мемов,751314556,79503814183,Oleg,Budaev,51.790654,107.702576,2022-07-13 07:22:12,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.790654, 107.702576)",10000,9857.0,Не подтверждено,Подтверждено,Не подтверждено
2,3,Разработка проектов в условиях ограниченных ре...,862102657,79244527680,заятон,None,56.531603,84.176339,2022-07-11 15:40:41,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(56.531603, 84.176339)",10000,1605565.0,Подтверждено,Не подтверждено,Не подтверждено
3,4,Ярмарка мемов,862102657,79244527680,заятон,None,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,Не подтверждено,Не подтверждено,Не подтверждено
4,5,Разработка проектов в условиях ограниченных ре...,940825685,79021603354,Ирина,Лубсанова,51.834158,107.597126,2022-07-11 16:21:02,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(51.834158, 107.597126)",10000,1208.0,Подтверждено,Подтверждено,Подтверждено
5,6,Ярмарка мемов,940825685,79021603354,Ирина,Лубсанова,None,None,NaT,2022-07-10 14:35:00,2022-07-11 16:36:00,51.843254,107.587542,"(51.843254, 107.587542)","(None, None)",10000,NaN,Не подтверждено,Не подтверждено,Не подтверждено

In [110]:
# Меняем названия колонок
df.rename(columns={'app_id':'Номер_заявки','name_event':'Название_мероприятия','id_participant':'id_участника','phone':'Телефон',
                   'first_name':'Имя','last_name':'Фамилия','latitude':'Широта_геометки_участника','longitude':'Долгота_геометки_участника',
                   'time_mark':'Дата_время_подтверждения','event_location_latitude':'Широта_геометки_мероприятия',
                  'event_location_longitude':'Долгота_геометка_мероприятия','event_location':'Геометка_мероприятия','location':'Геометка_участника',
                   'threshold_distance':'Допустимое_расстояние_участия','distance':'Итоговое_расстояние_участия','time_result':'Участие_по_времени','distance_result':'Участие_по_геометке','confrim':'Подтверждение_участия','time_begin_event':'Дата_начала_мероприятия','time_end_event':'Дата_окончания_мероприятия'},
         inplace=True)

In [111]:
df.to_excel('test.xlsx',index=False)